
/* text color scheme */
p {
    color :darkblue; 
    
}

h2 {
    color: coral;
}

ol{
    color: darkblue
}

div {
    color: darkblue;
}



 /* unvisited link */
a:link {
  color: coral;
}

/* visited link */
a:visited {
  color: darkgrey;
}

/* mouse over link */
a:hover {
  color: darkblue;
}

/* selected link */
a:active {
  color: rebeccapurple;
} 

/* borders */
h1 { 
    border-bottom: 3px solid darkgrey;
    border-top: 3px solid darkgrey;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 210px;
    margin-right: 190px;
    text-align: center;
}

h2 {
    border: 2px dotted coral;
    padding: 10px;
    margin-left: 400px;
    margin-right: 380px;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

#jackson {
    display: block;
    margin: 0px auto;

}

#idaho {
    display: block;
    margin: 0px auto;
}

#jackson2 {
    display: block;
    margin: 0px auto;
}
    

/* .=class  #=ID */