
/* text color scheme */
p {
    color :darkblue; 
    
}

h2 {
    color: coral;
}

ol{
    color: darkblue
}

div {
    color: darkblue;
}



 /* unvisited link */
a:link {
  color: coral;
}

/* visited link */
a:visited {
  color: darkgrey;
}

/* mouse over link */
a:hover {
  color: darkblue;
}

/* selected link */
a:active {
  color: rebeccapurple;
} 
