
/* text color scheme */
p {
    color :darkblue; 
    
}

h2 {
    color: coral;
}

ol{
    color: darkblue
}

div {
    color: darkblue;
}



 /* unvisited link */
a:link {
  color: coral;
}

/* visited link */
a:visited {
  color: darkgrey;
}

/* mouse over link */
a:hover {
  color: darkblue;
}

/* selected link */
a:active {
  color: rebeccapurple;
} 

/* borders */
h1 { 
    border-bottom: 3px solid darkgrey;
    border-top: 3px solid darkgrey;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 210px;
    margin-right: 190px;
    text-align: center;
}

h2 {
    border: 2px dotted coral;
    padding: 10px;
    margin-left: 370px;
    margin-right: 370px;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}

/* .=class  #=ID */
/* images centered */

#jackson {
    display: block;
    margin: 0px auto;
    width:50%;
}

#idaho {
    display: block;
    margin: 0px auto;
    width:
   
}

#jackson2 {
    display: block;
    margin: 0px auto;
    width:50%;
}
    
/* Image Captions */

.caption1 {
    text-align: center;
    
}

.caption2 {
    text-align: center;
}
/* text centered */

#google {
    display: block;
    text-align: center;
    width: 60px;
    margin: 0px auto;
}

#googlelink {
     display: block;
    text-align: center;
    width: 60px;
    margin: 0px auto;
}

.jacksonpictext {
    display: block;
    text-align: center;
    width: 400px;
    margin: 0px auto;
}

.tetonpictext {
    display: block;
    text-align: center;
    width: 400px;
    margin: 0px auto;
}
